:root {
  --header-color: #ffffff;
  --first-title-color: #ffffff;
  --second-title-color: #303030;
  --first-btn-color: #ffffff;
  --second-btn-color: #303030;
  --accent-color: #ff6c00;
  --typical-mb: 20px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

body {
  font-family: "Open Sans", sans-serif;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.pre-title {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.pre-title--color-light {
  color: rgba(157, 164, 189, 0.6);
}

.pre-title--color-dark {
  color: #303030;
}

.pre-title::before {
  content: "";
  width: 63px;
  height: 1px;
  margin-right: 21px;
  background-color: currentColor;
}

.section-title {
  font-family: "Raleway", sans-serif;
  font-size: 42px;
  line-height: 1.1666666667;
  letter-spacing: 0.05em;
}

.after-title {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}

.btn {
  display: inline-block;
  min-width: 160px;
  height: 40px;
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  border: 1px solid var(--accent-color);
  border-radius: 25px;
  background-color: transparent;
  transition: color 300ms linear, background-color 300ms linear;
}

.btn:hover {
  background-color: var(--accent-color);
  color: var(--first-btn-color);
}

.backdrop {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(48, 48, 48, 0.376);
  top: 0;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  min-height: 600px;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 40px;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal-close-btn {
  width: 30px;
  height: 30px;
  border: 1px solid #999999;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
}

.modal-field {
  margin-bottom: 10px;
}

.input-wrap {
  position: relative;
}

.modal-input {
  width: 100%;
  height: 45px;
  font-size: 14px;
  line-height: 1.2;
  color: #303030;
  border: 1px solid #999999;
  border-radius: 3px;
  padding-left: 30px;
  outline: none;
}

.input-icon {
  position: absolute;
  left: 8px;
  top: 50%;
  transform: translateY(-50%);
}

.modal-input:focus {
  border-color: var(--accent-color);
}

.modal-input:focus + .input-icon {
  fill: var(--accent-color);
}

.modal-input::placeholder {
  color: purple;
}

.modal-title {
  font-size: 18px;
  font-weight: 600;
  color: #303030;
  margin-bottom: 15px;
  text-align: center;
}

.modal-input-text {
  font-size: 12px;
  color: #303030;
  display: block;
  margin-bottom: 5px;
}

.modal-comment {
  width: 100%;
  height: 100px;
  font-size: 14px;
  line-height: 1.2;
  color: #303030;
  border: 1px solid #999999;
  border-radius: 3px;
  resize: none;
}

.check-text {
  font-size: 14px;
  color: #555555;
  display: flex;
  align-items: center;
  position: relative;
}

.check-text::before {
  content: "";
  width: 40px;
  height: 8px;
  border: 1px solid #999999;
  border-radius: 50px;
  margin-right: 10px;
}

.check-text::after {
  content: "";
  position: absolute;
  left: 3px;
  top: 2px;
  width: 18px;
  height: 18px;
  background-color: #e0dada;
  border-radius: 50%;
  transition: transform 300ms;
}

.modal-check:checked + .check-text::after {
  transform: translate(16px);
  background-color: #d9f1c3;
}

/* .check-text span {
  position: relative;
  transform: rotate(-45deg);
}

.check-text span::before {
  position: absolute;
  content: "";
  width: 5px;
  height: 20px;
  background-color: #6a6666;
  border-radius: 2px;
  display: block;
  top: -10px;
  left: 7px;
  z-index: 10;
}

.check-text span::after {
  content: "";
  width: 20px;
  height: 20px;
  background-color: #999999;
  border-radius: 50%;
  display: block;
}

.modal-check:checked + .check-text span {
  transform: rotate(45deg);
} */
/* .check-text::before {
  content: "";
  width: 16px;
  height: 15px;
  border: 2px solid #303030;
  border-radius: 2px;
  display: block;
  margin-right: 5px;
}

.modal-check:checked + .check-text::before {
  background-color: var(--accent-color);
  background-image: url(../img/check.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
} */
/* .check-icon {
  fill: currentColor;
}

.check-text span {
  width: 16px;
  height: 15px;
  border: 2px solid #303030;
  border-radius: 2px;
  margin-right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: transparent;
}

.modal-check:checked + .check-text > span {
  background-color: var(--accent-color);
  border: none;
  color: #ffffff;
}

.modal-check:focus + .check-text > span {
  border-color: var(--accent-color);
} */
.header {
  position: absolute;
  width: 100%;
  padding-top: 32px;
  padding-bottom: 32px;
}

.header__logo {
  margin-right: 70px;
}

.header > .container {
  display: flex;
  align-items: center;
}

.menu-list {
  display: flex;
}

.menu-list__link,
.connect__tel {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--header-color);
  transition: color 300ms linear;
}

.menu-list__link:hover,
.menu-list__link:active {
  color: var(--accent-color);
}

.connect {
  margin-left: auto;
}

/* .header-tel {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: #ffffff;
} */
.connect__btn {
  color: var(--first-btn-color);
  margin-left: 40px;
}

.menu-list__item:not(:last-child) {
  margin-right: 40px;
}

.hero .container {
  display: flex;
}

.soc {
  width: 93px;
  display: flex;
  align-items: flex-end;
  padding-left: 24px;
  padding-bottom: 40px;
}

.soc-list {
  display: flex;
  transform: rotate(-90deg) translate(-19px);
  transform-origin: top left;
  align-items: center;
}

.soc-list__item + .soc-list__item {
  margin-left: 40px;
}

.soc-list::before {
  content: "";
  width: 60px;
  height: 1px;
  background-color: #303030;
  margin-right: 40px;
}

.soc-list__link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: #303030;
  transition: color 300ms linear;
}

.soc-list__link:hover,
.soc-list__link:focus {
  color: var(--accent-color);
}

.hero-content {
  background-color: #303030;
  background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../img/hero-bg.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 272px 0 206px 96px;
  flex-grow: 1;
}

.hero-content__pre-title {
  margin-bottom: var(--typical-mb);
}

.hero-content__title {
  font-family: "Raleway", sans-serif;
  font-size: 72px;
  line-height: 1.1805555556;
  letter-spacing: 0.05em;
  color: var(--first-title-color);
  margin-bottom: var(--typical-mb);
  display: flex;
  align-items: baseline;
}

.hero-content__after-title {
  color: #9da4bd;
  max-width: 400px;
}

.about {
  padding-top: 140px;
  padding-bottom: 121px;
}

.about .container {
  display: flex;
}

.about-list {
  display: flex;
  margin-right: 64px;
  flex-shrink: 0;
}

.about-content__pre-title {
  margin-bottom: var(--typical-mb);
}

.about-list__item + .about-list__item {
  margin-left: 30px;
}

.about-content__title {
  color: #303030;
  margin-bottom: var(--typical-mb);
}

.about-content__after-title {
  color: #555555;
  margin-bottom: var(--typical-mb);
}

.about-content__text {
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: #555555;
  margin-bottom: 40px;
}

.about-content__btn {
  color: var(--second-btn-color);
}

.prices {
  background-image: url(../img/prices-bg.png);
  background-color: #111319;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1280px;
  margin: 0 auto;
  padding-top: 130px;
  padding-bottom: 130px;
}

.prices__pre-title {
  margin-bottom: var(--typical-mb);
}

.prices__title {
  color: var(--first-title-color);
  margin-bottom: 44px;
}

.prices-wrap {
  display: flex;
  margin-bottom: 50px;
}

.prices-list {
  padding: 30px 40px;
  flex-grow: 1;
}

.prices-list--light {
  background-image: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
}

.prices-list--dark {
  background-image: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
}

.prices-list__item {
  margin-bottom: var(--typical-mb);
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.prices-list__item::before {
  content: "";
  flex-grow: 1;
  height: 1px;
  background-color: rgba(157, 164, 189, 0.12);
  margin-right: 6px;
  margin-left: 6px;
}

.prices-list__item:last-child {
  margin-bottom: 0;
}

.prices-list__item-text {
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 1.84;
  color: #9da4bd;
}

.prices-list__item-text:first-child {
  order: -1;
}

.prices__btn {
  color: var(--first-btn-color);
  margin: 0 auto;
  display: block;
}

.reasons {
  padding-top: 114px;
  padding-bottom: 137px;
}

.reasons-item {
  width: 170px;
  height: 133px;
  border: 1px solid #303030;
  padding: 20px 24px;
}

.reasons-item-count {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.3571428571;
  text-align: center;
  letter-spacing: 0.05em;
  margin-bottom: 6px;
  color: #303030;
}

.reasons-item-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;
  color: #303030;
}

.reasons-pre-title {
  margin-bottom: var(--typical-mb);
}

.reasons-title {
  color: #303030;
  margin-bottom: var(--typical-mb);
}

.reasons-after-title {
  color: #555555;
}

.masters {
  padding-top: 130px;
  padding-bottom: 130px;
}

.masters__title {
  color: #303030;
  margin-bottom: 44px;
}

.masters__pre-title {
  margin-bottom: var(--typical-mb);
}

.masters__pre-title::before {
  background-color: currentColor;
}

.masters-list {
  display: flex;
  margin-left: -30px;
  flex-wrap: wrap;
}

.masters-list__item {
  /* flex-basis: calc((100% - 90px) / 3); */
  flex-basis: calc(33.3333333333% - 30px);
  margin-left: 30px;
  position: relative;
}

.masters-list__item:hover .masters-list__top-text {
  transform: translate(0);
}

.masters-list__top-wrap {
  position: relative;
  overflow: hidden;
}

.masters-list__top-text {
  position: absolute;
  height: 100%;
  font-size: 18px;
  top: 0;
  left: 0;
  color: #ffffff;
  line-height: 1.5;
  font-weight: 600;
  letter-spacing: 0.06em;
  background-color: rgba(255, 106, 0, 0.718);
  padding: 40px;
  transform: translateY(100%);
  transition: transform 300ms linear;
}

/* .masters-item + .masters-item {
  margin-left: 30px;
} */
.masters-list__title {
  color: var(--second-title-color);
  margin-bottom: 44px;
}

.masters-list__item-wrap {
  padding-top: 30px;
}

.masters-list__item-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.3888888889;
  text-align: center;
  letter-spacing: 0.02em;
  color: #303030;
  margin-bottom: 8px;
}

.masters-list__item-text {
  font-size: 14px;
  line-height: 1.3571428571;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ff6c00;
  margin-bottom: 30px;
}

.socials-list {
  display: flex;
  justify-content: center;
}

.socials-list__item + .socials-list__item {
  margin-left: 10px;
}

.socials-list__link {
  width: 44px;
  height: 44px;
  background-color: teal;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--accent-color);
}

/* .masters-social-icon {
  fill: currentColor;
} */
.socials-list__link:hover {
  background-color: var(--accent-color);
  fill: #ffffff;
}

/* .masters-social-link:hover {
  background-color: var(--accent-color);
}

.masters-social-link:hover .masters-social-icon {
  fill: #ffffff;
} */
.gallery {
  padding-top: 130px;
  padding-bottom: 130px;
}

.gallery-pre-title {
  color: #303030;
  margin-bottom: 44px;
}

.gallery-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
}

.gallery-item {
  flex-basis: calc(25% - 30px);
  margin-left: 30px;
  margin-bottom: 30px;
}

.contact-wrap {
  background-color: #191c26;
  background-image: url(../img/contacts-bg.png);
  background-repeat: no-repeat;
  background-size: calc(50% - 15px) 100%;
  background-position: right;
  max-width: 1280px;
  margin: 0 auto;
}

.contact-wrap .container {
  display: flex;
}

.online {
  padding-top: 130px;
  padding-bottom: 130px;
  flex-grow: 1;
  padding-right: 40px;
}

.online-title {
  color: var(--first-title-color);
  margin-bottom: 44px;
}

.online-inputs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 44px;
}

.online-input-wrap {
  width: 270px;
  position: relative;
}

.online-input-wrap:last-child {
  width: 260px;
}

.online-input {
  width: 100%;
  height: 24px;
  color: #ffffff;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  outline: none;
}

.oline-label {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.4);
  position: absolute;
  top: 0;
  left: 0%;
  transition: top 300ms linear;
}

.online-input:focus {
  border-color: #ffffff;
}

.online-input:focus + .oline-label {
  color: #ffffff;
  top: -100%;
}

.online-input-wrap-text {
  width: 100%;
  position: relative;
  margin-bottom: 44px;
}

.online-text {
  width: 100%;
  height: 76px;
  color: #ffffff;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  outline: none;
  resize: none;
}

.online-text:focus + .oline-label {
  color: #ffffff;
  top: -30px;
}

.online-btn {
  color: var(--first-btn-color);
}

.contacts {
  padding-top: 130px;
  padding-bottom: 130px;
  width: calc(50% - 15px);
  padding-left: 100px;
  flex-shrink: 0;
}

.contacts-title {
  color: var(--first-title-color);
  margin-bottom: 40px;
}

.contacts-address {
  font-style: normal;
}

.contacts-list {
  margin-bottom: 70px;
}

.contacts-item {
  margin-bottom: 20px;
}

.contacts-link {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

.contacts-time-title {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: var(--typical-mb);
}

.contacts-time-text {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

.footer {
  padding-top: 57px;
  padding-bottom: 55px;
}

.footer-copy {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: #9da4bd;
}

.footer-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: #303030;
}/*# sourceMappingURL=main.css.map */