:root {
  --header-color: #ffffff;
  --first-title-color: #ffffff;
  --second-title-color: #303030;
  --first-btn-color: #ffffff;
  --second-btn-color: #303030;
  --accent-color: #ff6c00;
  --typical-mb: 20px;
}

body {
  font-family: "Open Sans", sans-serif;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}
button {
  cursor: pointer;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  outline: 1px solid red;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.pre-title {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.section-title {
  font-family: "Raleway", sans-serif;
  font-size: 42px;
  line-height: calc(49 / 42);
  letter-spacing: 0.05em;
}

.after-title {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}

.btn {
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  border: 1px solid var(--accent-color);
  border-radius: 25px;
  background-color: transparent;
  min-width: 160px;
  height: 40px;
}

/*-------------------- HEADER------------------------ */
.header {
  background-color: gray;
  padding-top: 32px;
  padding-bottom: 32px;
}

.header-logo {
  margin-right: 70px;
}

.header > .container {
  display: flex;
  align-items: center;
}

.header-list {
  display: flex;
}

.header-link,
.header-tel {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--header-color);
}

.header-link:hover,
.header-link:active {
  color: var(--accent-color);
}

.header-connect {
  margin-left: auto;
}

/* .header-tel {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: #ffffff;
} */

.header-btn {
  color: var(--first-btn-color);
  margin-left: 40px;
}

.header-item:not(:last-child) {
  margin-right: 40px;
}

/*-------------------- HERO------------------------ */

.hero .container {
  display: flex;
}
.hero-list {
  width: 93px;
}

.hero-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: #303030;
}

.hero-link:hover,
.hero-link:focus {
  color: var(--accent-color);
}

.hero-content {
  background-color: #303030;
  padding: 272px 0 206px 96px;
  flex-grow: 1;
}

.hero-pre-title {
  color: rgba(157, 164, 189, 0.6);
  margin-bottom: var(--typical-mb);
}

.hero-title {
  font-family: "Raleway", sans-serif;
  font-size: 72px;
  line-height: calc(85 / 72);
  letter-spacing: 0.05em;
  color: var(--first-title-color);
  margin-bottom: var(--typical-mb);
}

.hero-after-title {
  color: #9da4bd;
  max-width: 400px;
}

/*-------------------- ABOUT------------------------ */

.about {
  padding-top: 140px;
  padding-bottom: 121px;
}

.about .container {
  display: flex;
}

.about-list {
  display: flex;
  margin-right: 64px;
}
.about-pre-title {
  color: #303030;
  margin-bottom: var(--typical-mb);
}

.about-item + .about-item {
  margin-left: 30px;
}

.about-title {
  color: #303030;
  margin-bottom: var(--typical-mb);
}

.about-after-title {
  color: #555555;
  margin-bottom: var(--typical-mb);
}

.about-text {
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: #555555;
  margin-bottom: 40px;
}

.about-btn {
  color: var(--second-btn-color);
}

/*-------------------- PRICES------------------------ */

.prices {
  background-color: #303030;
  padding-top: 130px;
  padding-bottom: 130px;
}
.prices-pre-title {
  color: rgba(157, 164, 189, 0.6);
  margin-bottom: var(--typical-mb);
}

.prices-title {
  color: var(--first-title-color);
  margin-bottom: 44px;
}

.prices-wrap {
  display: flex;
  margin-bottom: 50px;
}

.prices-list {
  border: 1px solid #ffffff;
  padding: 30px 40px;
  flex-grow: 1;
}

.prices-item {
  margin-bottom: var(--typical-mb);
  display: flex;
  justify-content: space-between;
}

.prices-item:last-child {
  margin-bottom: 0;
}

.prices-item-text {
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 1.84;
  color: #9da4bd;
}

.prices-btn {
  color: var(--first-btn-color);
  margin: 0 auto;
  display: block;
}

/*-------------------- REASONS------------------------ */

.reasons {
  padding-top: 114px;
  padding-bottom: 137px;
}

.reasons-item {
  width: 170px;
  height: 133px;
  border: 1px solid #303030;
  padding: 20px 24px;
}
.reasons-item-count {
  font-weight: 700;
  font-size: 42px;
  line-height: calc(57 / 42);
  text-align: center;
  letter-spacing: 0.05em;
  margin-bottom: 6px;
  color: #303030;
}
.reasons-item-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;
  color: #303030;
}

.reasons-pre-title {
  color: #303030;
  margin-bottom: var(--typical-mb);
}
.reasons-title {
  color: #303030;
  margin-bottom: var(--typical-mb);
}
.reasons-after-title {
  color: #555555;
}

/*-------------------- MASTERS------------------------ */

.masters {
  padding-top: 130px;
  padding-bottom: 130px;
}
.masters-pre-title {
  color: #303030;
  margin-bottom: var(--typical-mb);
}

.masters-list {
  display: flex;
  margin-left: -30px;
  flex-wrap: wrap;
}

.masters-item {
  /* flex-basis: calc((100% - 90px) / 3); */
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
}

/* .masters-item + .masters-item {
  margin-left: 30px;
} */

.masters-title {
  color: var(--second-title-color);
  margin-bottom: 44px;
}

.masters-item-wrap {
  padding-top: 30px;
}

.masters-item-title {
  font-weight: 400;
  font-size: 18px;
  line-height: calc(25 / 18);
  text-align: center;
  letter-spacing: 0.02em;
  color: #303030;
  margin-bottom: 8px;
}

.masters-item-text {
  font-size: 14px;
  line-height: calc(19 / 14);
  text-align: center;
  letter-spacing: 0.02em;
  color: #ff6c00;
}

/*-------------------- GALLERY------------------------ */

.gallery {
  padding-top: 130px;
  padding-bottom: 130px;
}
.gallery-pre-title {
  color: #303030;
  margin-bottom: 44px;
}

.gallery-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
}

.gallery-item {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
  margin-bottom: 30px;
}

.contact-wrap {
  background-color: #303030;
}

.contact-wrap .container {
  display: flex;
}

/*-------------------- ONLINE------------------------ */

.online {
  padding-top: 130px;
  padding-bottom: 130px;
  flex-grow: 1;
}
.online-title {
  color: var(--first-title-color);
}
/*-------------------- CONTACTS------------------------ */

.contacts {
  padding-top: 130px;
  padding-bottom: 130px;
  flex-grow: 1;
}
.contacts-title {
  color: var(--first-title-color);
  margin-bottom: 40px;
}

.contacts-address {
  font-style: normal;
}

.contacts-list {
  margin-bottom: 70px;
}

.contacts-item {
  margin-bottom: 20px;
}

.contacts-link {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

.contacts-time-title {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: var(--typical-mb);
}

.contacts-time-text {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

/*-------------------- FOOTER  ------------------------ */

.footer {
  padding-top: 57px;
  padding-bottom: 55px;
}

.footer-copy {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: #9da4bd;
}

.footer-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: #303030;
}
