.pre-title {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.pre-title--color-light {
  color: rgba(157, 164, 189, 0.6);
}

.pre-title--color-dark {
  color: #303030;
}

.pre-title::before {
  content: "";
  width: 63px;
  height: 1px;
  margin-right: 21px;
  background-color: currentColor;
}
