.pre-title {
  @extend %align-list;
  @include font(11px, 600, 1.9, 0.01em);
  // font-weight: 600;
  // font-size: 11px;
  // line-height: 1.36;
  // letter-spacing: 0.1em;
  text-transform: uppercase;
  @media screen and (min-width: 768px) {
    @include font(null, null, 1.36, null);
  }
  &::before {
    content: "";
    width: 63px;
    height: 1px;
    margin-right: 21px;
    background-color: currentColor;
  }
}

.pre-title--color-light {
  color: rgba(157, 164, 189, 0.6);
}

.pre-title--color-dark {
  color: #303030;
}
